body {
	background-color: green;
}

ul {
	background-color: red;
}

li {
	width: 500px;
	height: 50px;
	border: 5px solid black;
	padding: 20px;
	margin: 20px;
	margin-left: 600px;
	background-color: gray;
	text-align: center;
	font-size: 30px;
}

heading {
	font-weight: bold;
	margin-left: 500px;

	
}

.highlight {
	background-color: yellow;
}

