li {
	width: 200px;
	height: 50px;
	border: 1px solid black;
	margin: auto;
	background-color: gray;
	text-align: center;
}

heading {
	text-align: center;
	font-weight: bold;
}

.highlight {
	background-color: yellow;
}

